body {

  background-image: url("img/background2.jpg");
}

.container {
	background-color: gray;
	width: 50%;
	border-size: 2px;
	border-style: groove;
}

.container2 {
	background-image: url("img/todolist.png");
	width: 25%;
	border-size: 2px;
	border-style: groove;
	border-color: black;
	height: 700px;
	background
}

#age {
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	border-width: 2px;
}

#name {
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	border-width: 2px;

}

.taskFont {
	font-family: 'Chewy', cursive;
	font-size: 24px;
}

.notesFont {
	font-family: 'Chewy', cursive;
		font-size: 24px;
}

.addATaskFont {
		font-family: 'Chewy', cursive;
}

#add-friend {
		font-family: 'Chewy', cursive;
		position: relative;
		left: 40px;
}

.thingsToDoFont {
		font-family: 'Chewy', cursive;
}

.remove {
		font-family: 'Chewy', cursive;
}